<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="RhythmusByte" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Sylvan {% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kanit&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style/base.css" />
    {% block head %} {% endblock %}
  </head>
  <body>
    <!-- Nav Bar -->

    <header id="base-header" class="black-bg">
      <div class="navbar">
        <div class="logo">
          <a href="/">Sylvan</a>
        </div>
        <div class="nav">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div class="menu"><i class="fa-solid fa-bars"></i></div>
        </div>
        <a href="#" class="highlight">Download CV</a>
        <div class="dropdown-menu">
          <ul class="nav-phone">
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#" class="highlight">Download CV</a></li>
          </ul>
        </div>
      </div>
    </header>

    <!-- Nav Bar Ends -->

    {% block body %} {% endblock %}
  </body>
  <script src="/static/script/base.js"></script>
  {% block script %} {% endblock %}
</html>
