#base-body {
}

/* Nav Bar */
#base-header {
  font-family: "Kanit", sans-serif;
  border-radius: 20px;
  position: relative;
  padding: 0 2rem;
}

#base-header li {
  list-style: none;

  transition: scale 0.3s ease;
}

#base-header li:hover {
  transform: scale(1.2);
  color: white;
}

#base-header a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

#base-header .navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#base-header .navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

#base-header .navbar .logo {
  transition: scale 0.3s ease;
}

#base-header .navbar .logo:hover {
  transform: scale(1.05);
  color: white;
}

#base-header .navbar .nav ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}

#base-header .navbar .menu {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

#base-header .navbar .highlight {
  display: block;
  margin: 0;
}

#base-header .highlight {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2s ease;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

#base-header .highlight:hover {
  transform: scale(1.05);
  color: black;
}

#base-header .nav-phone {
  padding: 0px;
}

#base-header .highlight:active {
  transform: scale(0.95);
}

#base-header .dropdown-menu {
  left: 0;
  right: 0;
  position: absolute;
  top: 60px;
  height: 0;
  width: 100%;
  background: black;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  transition: 0.5s;
}

#base-header .dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#base-header .dropdown-menu .highlight {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

#base-header .dropdown-menu.open {
  height: 325px;
  max-width: 100%;
  margin-top: 10px;
}

#base-header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: transparent;
}

/* Nav Bar Ends */

/* Responsive */
@media (max-width: 992px) {
  #base-header .navbar .nav ul {
    display: none;
  }

  #base-header .navbar .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  #base-header .navbar .menu i {
    display: inline-block;
  }

  #base-header .navbar .highlight {
    display: none;
  }

  #base-header .dropdown-menu {
    display: block;
  }

  #base-header .dropdown-menu .highlight {
    display: block;
    margin-top: 0.3rem 0 0.7rem 0;
  }
}
.black {
  color: black !important;
}
.black-bg {
  background-color: black !important;
}
.white {
  color: white !important;
}
.white-bg {
  background-color: white !important;
}
